*{
    font-family:arial;
    font-size:12px;
}
body{
    background-image: url("../images/bg.jpg");
}
a{
    text-decoration: none;
    color:#fff;
}
#container{
    width:200px;
    position:relative;
    margin: 0px auto;
    min-height: 100%;
}
#strip{
    width:100%;
    height:60px;
    border:1px solid #d3d3d3;
    background: #e8e6ed; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiNlOGU2ZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e8e6ed 45%, #f9f9f9 51%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#e8e6ed), color-stop(51%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e8e6ed 45%,#f9f9f9 51%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e8e6ed 45%,#f9f9f9 51%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e8e6ed 45%,#f9f9f9 51%); /* IE10+ */
    background: linear-gradient(to bottom,  #e8e6ed 45%,#f9f9f9 51%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e6ed', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-8 */
    background-repeat: no-repeat;
    position:absolute;
    left:0px;
    top:50px;
}
#login_box{
    width:auto;
    background-color:#6d3397;
    height:auto;
    position:absolute;
    padding:10px;
    box-shadow: 1px 1px 10px 5px #6d6767;
}
#login_box caption{
    color:#fff;
    font-size:20px;
}
#login_box th{
    color:#fff;
}
#login_box td{
    color:#fff;
}
#login_box input{
    padding:5px;
}
#login_footer{
    position:absolute;
    top:180px;
    width:auto;
    height:20px;
    color:#6d6767;
    padding-left:50px;
}
#login_box button{
    border:1px solid #6d6767;
    background-color:#fff;
    color:#6d3397;
    padding:7px;
}
